.todaySmsTable {
    width: 100%;
    height: 500px;
}

.todaySmsDailyTable {
    width: 100%;
    height: 70px;
}

.volunteerSmsTable {
    width: 100%;
    height: 100%;
}

.volunteerSmsDailyTable {
    width: 100%;
    height: 500px;
}